<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mishack Madubandlela - Portfolio</title>
        <meta name="author" content="Mishack Madubandlela, NatWeb Digital Solutions">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Mishack Madubandlela, Mishack O Madubandlela, Mishack's profile, Mishack's portfolio, Mishack Madubandlela portfolio, Web Designer, Web Developer, Web Designer in Nelspruit, Web designer in South Africa. Remote web developer">
        <meta name="description" content="View Mishack Madubandlela's entire profile/portfolio in one click. This is the one and only site where you will find all you need to know about Mishack Madubandlela as a professional. Do you have question or you would like to engage with Mishack? Just one click and you can engage with Mishack via What'sApp, email or even call him directly.">

        <!-- Favicon -->
        <link href="{{ url_for('static', filename='img/profile-removebg-preview (1) (copy).png') }}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Solway:400,700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/animate/animate.css') }}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

    <body>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message|safe }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Header Start -->
        <div class="top-header" id="top-header">
            <div class="container text-left">
                <div class="row">
                    <!-- <div class="col-md-12">
                        <img src="img/profile-removebg-preview (1).png" alt="Mishack Madubandlela-profile-pic" />
                    </div> -->

                    <div class="col-md-12">
                        <h1 class="my-name border-left">Mishack Madubandlela</h1>
                    </div>
                    <div class="col-md-12">
                        <h1 class="new-name border-left">I AM A</h1>
                    </div>

                    <div class="col-md-12">
                        <p class="sub">
                          Web Developer, Web Designer, Business Developer, Graphic Designer, Python Programmer, Laravel Developer, Marketing Strategist
                        </p>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->

        <!-- Nav Start -->
        <div class="header">
            <div class="container">

                <div class="logo pull-left">
                    <h1><a href="{{ url_for('index') }}">My Portfolio</a></h1>
                </div>

                <nav id="nav-menu-container">
                  <button type="button" id="mobile-nav-toggle">
                    <i class="fa fa-bars text-light">
                    </i>
                  </button>
                    <ul class="nav-menu">
                        <!--<li><a href="#top-header">Home</a></li>-->
                        <li><a href="#services">Services</a></li>
                        <!--<li class="menu-has-children"><a href="#">Drop Down</a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li class="menu-has-children"><a href="#">Drop Down 3</a>
                                    <ul>
                                        <li><a href="#">Drop Down 1</a></li>
                                        <li><a href="#">Drop Down 2</a></li>
                                        <li><a href="#">Drop Down 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>-->
                        <li><a href="#about">My Skills</a></li>
                        <li><a href="#experience">My Experience</a></li>
                        <li><a href="#portfolio">Past Projects</a></li>
                        <li><a href="#contact">Contact me</a></li>
                    </ul>
                </nav>

                <nav class="nav social-nav pull-right d-none d-lg-inline">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
                </nav>
            </div>
        </div>
        <!-- Nav End -->

        <!-- About Me Start-->
        <div class="about" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/mobile.gif') }}" style="border-radius:8px; height: 560px"/>
                    </div>

                    <div class="col-md-6 col-lg-8">
                        <header class="section-header">
                            <h2 style="color: #000222">About Me</h2>
                        </header>
                        <h3><strong>Name:</strong>
                          <a href="https://www.google.com/search?q=Mishack+Madubandlela&oq=Mishack+Madubandlela&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQRRg8MgYIAhBFGDwyBggDEEUYPNIBCDY1MDRqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8" style="background-color: transparent; padding: 0; border:none; font-size: 20px">
                            <u>Mishack Madubandlela</u>
                          </a>
                        </h3>
                        <h4><strong>Profession:</strong> <span style="font-size:20px; color:white">Web Developer & Designer, Business Professional</span></h4>
                        <p>
                            The passion for computers and technology has been long existing in me as well as the wonder of how things work, digitally.
                        </p>
                        <p>
                            The fascination that comes with a properly designed user interface corresponding with the experience you get when using a digital platform is the experience I wanted to learn how to create and leave a legacy of the best UX/UI products and services on device softwares for the users.
                        </p>
                        <p>
                            All that was until I started learning HTML and CSS for web design. Then with better design skills, I wanted to learn more of what I can actually produce for users anywhere. The more in demand services. That was when I was introduced to programming. It provided me with the best learning curves as it was not easy. But the joy anyone gets when using a properly designed and functional program or software kept me pushing towards more frameworks and lnguages to better my work in tech. I still have a long way to go and I'm going to climb that ladder and never go back down.
                        </p>
                        <p>I've grown my skills to be a more versertaile and skillful person on my own to be able to stand my own ground and be able to provide many services. Especially in the corporate industry. Which is where I honed my skills in business. Mainly adminsitration, research and planning. But my main and first big skill is marketing strategy. This is because I understood early that a business cannot run without visibilty. <i>"Ignoring marketing is starting a business and not telling anyone"</i>
                        </p>
                        <a href="{{ url_for('hire') }}" style="border-radius:8px">Hire Me</a>
                    </div>
                </div>
              </div>

              <div class="container col-lg-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="skills">
                            <h3>Front End Skills</h3>
                            <div class="skill-name">
                                <p>HTML5</p><p>100%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="skill-name">
                                <p>CSS3</p><p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="skill-name">
                                <p>Bootstrap</p><p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="skill-name">
                                <p>Javascript</p><p>25%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="skills">
                            <h3>Back End Skills</h3>
                            <div class="skill-name">
                                <p>Python3</p><p>60%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="skill-name">
                                <p>FLASK</p><p>50%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="skill-name">
                                <p>Laravel PHP</p><p>50%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="skill-name">
                                <p>Web Hosting</p><p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="skills">
                        <h3>Business Skills</h3>
                        <div class="skill-name">
                            <p>Business Planning</p><p>95%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="skill-name">
                            <p>Marketing Strategy</p><p>90%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="skill-name">
                            <p>Value Proposition</p><p>90%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="skill-name">
                            <p>Business Administration</p><p>95%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                </div>
        </div>
        <!-- About Me End-->

        <!-- Job Experience Start -->
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header">
                    <h2>Job Experience</h2>
                    <p>
                      My previous work experience is recorded below and showcases the skills that I have used to get to where I am. This is how my tech skills have advanced over the years since I learnt coding and programming.
                    </p>
                </header>
                <div class="row">
                    <div class="col-md-6">
                      <div class="exp-column wow fadeInRight" data-wow-delay=".3s">
                        <p class="exp-date">Oct-2020 <span>to</span> November-2022</p>
                        <h4 class="exp-company">Eclipse Web Design, Mpumalanga, ZA</h4>
                        <h4 class="exp-designation">Trainee Web Designer</h4>
                        <p class="exp-detail">
                          Working on the front-end web development of clients' projects as a user interface designer. It was an exciting experience to learn a new skill and yet have to practice by solving real world problems for others to help grow their online presence beautifully.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="exp-column">
                          <p class="exp-date">March-2022 <span>to</span> April-2024</p>
                          <h4 class="exp-company">Freelancer, Mpumalanga, ZA</h4>
                          <h4 class="exp-designation">Graphic Designer</h4>
                          <p class="exp-detail">
                              Designing beautifully compelling marketing designs for business to reach a wider audience is what I like when working in the tech space. Digital visibility is the key to grow in this era of technological advancements.
                          </p>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <div class="exp-column">
                          <p class="exp-date">May-2024 <span>to</span> Current</p>
                          <h4 class="exp-company">Freelancer, Mpumalanga, ZA</h4>
                          <h4 class="exp-designation">Web Designer & Developer</h4>
                          <p class="exp-detail">
                              Working on my own, I develop websites and host them with my hosting partner. I'm strictly focused on ensuring the success of each client's business online to reach their advertising goals to improve conversion rates. I achieve this plan by ensuring that I utilize all the relevant digital tools such as CTAs in my desgins to draw the attention of viewers.
                          </p>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="exp-column">
                            <p class="exp-date">Feb-2023 <span>to</span> 20-Dec-2024</p>
                            <h4 class="exp-company">LUBANDI GROUP (Pty) Ltd., Mpumalanga, ZA</h4>
                            <h4 class="exp-designation">Manager</h4>
                            <p class="exp-detail">
                                As a small company manager, I did a lot of the roles. My biggest role was marketing. But then I had to merge into busines administration to ensure that the business runs well. I would do the HRM, Office administration and financial admin as well. With my skills, my boss was superbly impressed and would always come to me for any extra help with business projects and development strategies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Experience End -->

        <!-- Services Start -->
        <div class="services bg-primary" id="services">
            <div class="container">
                <header class="section-header">
                    <h2 class="my-services">My Services</h2>
                    <p>
                        Below are the list of services I can and am willing to offer to anyone seeking success in any of my skilled talents.
                    </p>
                </header>
                <div class="row">
                    <!-- <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"><i class="fa fa-television"></i></div>
                            <h4><a href="web-design.html">Web Design</a></h4>
                            <p></p>
                        </div>
                    </div> -->
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-laptop"></i> </div>
                            <h4><a href="web-hire.html" data-title="web service hire" class="link-preview" title="View Hire Form" target="_blank">Web Development & Design</a></h4>
                            <p>Now, you can have your very own website for your business display, personal blog or online shop. My designs include user-friendly UI/UX displays and easy navigation around the whole interface. NO complicated designs that may confuse users. The best designs for any busines to be visible online</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-android"></i> </div>
                            <h4><a href="web-hire-app.html" data-title="web service hire" class="link-preview" title="View Hire Form" target="_blank">Applications Development</a></h4>
                            <p>Now, with my affiliate partner and relevant tools neccessary for applications development, I can integrate my desgin skills with external ones to create the best user-friendly applications. From simple web-apps to complex functionality web-apps that entail automated functions, made to simplify your life</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-envelope-o"></i> </div>
                            <h4><a href="web-hire-graphic.html" data-title="web service hire" class="link-preview" title="View Hire Form" target="_blank">Graphic Design</a></h4>
                            <p>
                              <i>&quoteIgnoring marketing is like starting a business but not telling anybody&quot.</i>
                              If you are starting something that needs views and conversions on sales, our simplistic to complex advertising designs will guarantee the visibility your business needs to reach more customers/clients
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-signal"></i> </div>
                            <h4><a href="#">Custom Analytics</a></h4>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et cubilia Curae</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-globe"></i> </div>
                            <h4><a href="#">Online Marketing</a></h4>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et cubilia Curae</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Services End -->

        <!-- Counter Start -->
        <div class="counters pt-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="counter">
                            <div class="counter-icon-box"><i class="fa fa-calendar"></i></div>
                            <div class="number animateNumber" data-toggle="counter-up"> <span>5</span></div>
                            <h4 class="font-weight">Years of Experience</h4>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="counter">
                            <div class="counter-icon-box"><i class="fa fa-check"></i></div>
                            <div class="number animateNumber" data-toggle="counter-up"> <span>6</span></div>
                            <h4 class="font-weight">Completed Projects</h4>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="counter">
                            <div class="counter-icon-box"><i class="fa fa-users"></i></div>
                            <div class="number animateNumber" data-toggle="counter-up"> <span>4</span></div>
                            <h4 class="font-weight">Total Clients</h4>
                        </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="counter">
                        <div class="counter-icon-box"><i class="fa fa-laptop"></i></div>
                        <div class="number animateNumber" data-toggle="counter-up"> <span>5</span></div>
                        <h4 class="font-weight">Coding Languages</h4>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="counter">
                        <div class="counter-icon-box"><i class="fa fa-certificate"></i></div>
                        <div class="number animateNumber" data-toggle="counter-up"> <span>11</span></div>
                        <h4 class="font-weight">Business Certfications</h4>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="counter">
                        <div class="counter-icon-box"><i class="fa fa-certificate"></i></div>
                        <div class="number animateNumber" data-toggle="counter-up"> <span>3</span></div>
                        <h4 class="font-weight">Tech Certfications</h4>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <!-- Counter End -->

        <!-- Portfolio Start -->
        <div class="portfolio" id="portfolio">
            <div class="container">
                <header class="section-header col-lg-12">
                    <h2 class="section-title">My Portfolio</h2>
                    <p class="text-center">
                        You can see my past projects that I have worked on for clients from varius fields of business and what I have done to improve online visibility for the growth of the business' accessibility remotely
                    </p>
                </header>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".web-des">Web Design</li>
                            <li data-filter=".web-dev">Web-App Development</li>
                            <li data-filter=".app-dev">App Development</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item web-des">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="{{ url_for('static', filename='img/Screenshot from 2024-12-04 13-59-35.png') }}" class="img-fluid" alt="">
                                <a href="{{ url_for('static', filename='img/Screenshot from 2024-12-04 13-59-35.png') }}" data-lightbox="portfolio" data-title="Vision Board Ads" class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="https://visionboardads.co.za" class="link-details" target="_blank" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">Vision Board Ads <span>Web Design</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item web-des">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="{{ url_for('static', filename='img/exbusiness.jpg') }}" class="img-fluid" alt="">
                                <a href="{{ url_for('static', filename='img/exbusiness.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Global Wealth-Cash Loans" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="https://Globalwealth-cashloans.co.za" class="link-details" target="_blank" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">Global Wealth-Cash Loans<span>Web Design</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item web-dev">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="{{ url_for('static', filename='img/exbusiness.jpg') }}" class="img-fluid" alt="">
                                <a href="{{ url_for('static', filename='img/exbusiness.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Global Wealth-Cash Loans" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="https://loan.Globalwealth-cashloans/user/register" class="link-details" target="_blank" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">Global Wealth-Cash Loans<span>Web-App Development</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item web-dev">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="{{ url_for('static', filename='img/Screenshot from 2024-12-04 13-59-35.png') }}" class="img-fluid" alt="">
                                <a href="{{ url_for('static', filename='img/Screenshot from 2024-12-04 13-59-35.png') }}" class="link-preview" data-lightbox="portfolio" data-title="Vision Board Ads" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="https://visionboardads.co.za" class="link-details" target="_blank" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">VisionBoard Ads<span>Web Development</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item app-dev">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="{{ url_for('static', filename='img/service-2.jpg') }}" class="img-fluid" alt="">
                                <a href="{{ url_for('static', filename='img/service-2.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="PIVOT  Projects & Co." title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">PIVOT Projects & Co. <span>Apps Development</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item app-dev">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="{{ url_for('static', filename='img/portfolio-6.jpg') }}" class="img-fluid" alt="">
                                <a href="{{ url_for('static', filename='img/portfolio-6.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Pellentesque lacus" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">HERMOSA BEAUTY Co.<span>Apps Development</span></h4>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item web-des">
                        <div class="portfolio-wrap">
                            <figure id="natweb">
                                <img src="{{ url_for('static', filename='img/icons/new-2.jpeg') }}" class="img-fluid" alt="NatWeb Icon">
                                <a href="{{ url_for('static', filename='img/WhatsApp Image 2024-12-21 at 22.16.28 (copy).jpeg') }}" class="link-preview" data-lightbox="portfolio" data-title="NatWeb Digital Solutions" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="https://natwebdigitalsolutions.co.za" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">NatWeb Digital Solutions<span>Web Design</span></h4>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item web-des">
                        <div class="portfolio-wrap">
                            <figure id="natweb">
                                <img src="{{ url_for('static', filename='img/icons/new-2.jpeg') }}" class="img-fluid" alt="NatWeb Icon">
                                <a href="{{ url_for('static', filename='img/WhatsApp Image 2024-12-21 at 22.16.28 (copy).jpeg') }}" class="link-preview" data-lightbox="portfolio" data-title="NatWeb Digital Solutions" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="https://natweb.visionboardads.co.za/client" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">NatWeb Digital Solutions<span>Web Design</span></h4>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Portfolio End -->

        <!-- Testimonials Start -->
        <div class="testimonials" id="testimonials">
            <div class="container">
                <h2 class="fs-1 text-light" style="font-weight: bold;">Our clients</h2>
                <i class="fa fa-4x fa-quote-left"></i>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='img/icons/image-removebg-preview (1).png') }}" class="testimonial-img" alt="">
                        <h2>Vision Board Ads</h2>
                        <h3>Marketing Agency</h3>
                        <p>
                            &quot Outstanding service delivered for my business. My business now has a new home and a lot easier access by potential clients to grow the business and it looks great.&quot
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='img/icons/icon.png') }}" class="testimonial-img" alt="">
                        <h2>Global Wealth-Cash Loans</h2>
                        <h3>Finance Company</h3>
                        <p>
                            &quot The design is more than I could've asked for. I wasn't expecting such a young man to be able to do all these designs and it made the whole process much easier for clients. Almost everything has been automated and simpler.&quot
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='img/icons/Screenshot from 2024-12-23 11-03-54 (copy).png') }}" class="testimonial-img" alt="LUBAND GROUP">
                        <h2>LUBAND GROUP</h2>
                        <h3>Accommodation Provider</h3>
                        <p>
                            &quot Our clients can now see how many rooms we have vacant and apply online for accommodation without having to go through third-party websites in order to find us&quot
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials End -->

        <!-- Contact Start -->
        <div class="contact" id="contact">
            <div class="container pt-3">
                <div class="section-header">
                    <h2>Contact Me</h2>
                    <p>
                        Below are my personal contact details to get in touch with me and disccover what more I can do for your online presence development.
                    </p>
                </div>

                <div class="row align-items-left">
                    <div class="col-md-6">
                        <div class="contact-info align-items-left">
                            <p class="text-light"><i class="fa fa-user"></i>Mishack Madubandlela</p>
                            <p class="text-light"><i class="fa fa-tag"></i>Web Developer & Designer</p>
                            <p class="text-light"><i class="fa fa-map-marker"></i>8392 Ext 15, Barberton 1300, MP, ZA</p>
                            <p class="text-light" id="contact-email"><i class="fa fa-envelope"></i>
                              <a href="mailto:mish@mishmadubandlela.com">mish@mishmadubandlela.com</a>
                            </p>
                            <p class="text-light" id="contact-number"><i class="fa fa-phone"></i>
                              <a href="tel:+27715848656">+27-715-848-656</a>
                            </p>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href="https://za.linkedin.com/in/mishack-madubandlela08" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="section-header">
                      <h2 style="color:rgb(255, 255, 0)">Reach Me Via Email</h2>
                    </div>
                        <div class="form">
                            <form action="/submit" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" name="name" class="form-control" placeholder="Your Name"/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" name="email" class="form-control" placeholder="Your Email Address"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subjectclass="form-control" placeholder="Subject"/>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" placeholder="What Would You Like To Know?"></textarea>
                                </div>
                                <div>
                                    <button type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Partners Start -->
        <div class="testimonials" id="testimonials">
            <div class="container">
                <h2 class="text-light">Our Partners In Tech</h2>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='img/icons/image-removebg-preview (1).png') }}" class="testimonial-img" alt="">
                        <h2>Laroc Co.</h2>
                        <h3>Tech Development Company</h3>
                        <!-- <p>
                            &quot Outstanding service delivered for my business. My business now has a new home and a lot easier access by potential clients to grow the business and it looks great.&quot
                        </p> -->
                    </div>

                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='img/icons/icon.png') }}" class="testimonial-img" alt="">
                        <h2>Laroc Learning</h2>
                        <h3>Online Tech Skills Development Institute</h3>
                        <!-- <p>
                            &quot The design is more than I could've asked for. I wasn't expecting such a young man to be able to do all these designs and it made the whole process much easier for clients. Almost everything has been automated and simpler.&quot
                        </p> -->
                    </div>

                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='img/testimonial-3.jpg') }}" class="testimonial-img" alt="LavaLite Hosting">
                        <h2>LavaLite Hosting</h2>
                        <h3>Web Hosting Provider</h3>
                        <!-- <p>
                            &quot Our clients can now see how many rooms we have vacant and apply online for accommodation without having to go through third-party websites in order to find us&quot
                        </p> -->
                    </div>
                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='img/WhatsApp Image 2024-12-21 at 22.16.28 (copy).jpeg') }}" class="testimonial-img" alt="">
                        <h2>NatWeb Digital Solutions Co.</h2>
                        <h3>Web Development & Design</h3>
                        <!-- <p>
                            &quot Our clients can now see how many rooms we have vacant and apply online for accommodation without having to go through third-party websites in order to find us&quot
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials End -->


        <!-- Footer Start -->
        <div class="footer pb-1 pt-5">
            <div class="container">
                <div class="row copyright">
                  <div class="col-lg-6 text-left">
                    <p>&copy; Copyright <a href="#">Mish Madubandlela</a> All Rights Reserved</p>
                  </div>
                  <div class="col-lg-6 text-right">
                    <p>Powered & Designed by <a href="https://natwebdigitalsolutions.com" target="_blank">NatWeb Digital Solutions Co.</a></p>
                  </div>
                </div>
            </div>
        </div>
        <!-- Footer end -->

        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='lib/typed/typed.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/stickyjs/sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>

        <!-- Template Javascript -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script>
            setTimeout(() => {
              const flashMessages = document.getElementById('flash-messages');
              if (flashMessages) {
                flashMessages.remove();
              }
            }, 5000); // matches fade duration
          </script>
          
    </body>
</html>
